@import "vars.scss";
@import "fonts.scss";

.burger-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  z-index: 10;
  @media (min-width: $screen-tv) {
    display: block;
    width: 310px;
    background-color: rgba(255, 255, 255, 0);
  }
}

.burger-menu__wrapper {
  width: 100%;
  height: 100vh;
  padding: 20px 24px;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
  box-sizing: border-box;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 1);
  @media (min-width: $screen-laptop) {
    width: 320px;
  }
  @media (min-width: $screen-tv) {
    width: 310px;
    box-shadow: none;
  }
}

.circle {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $pink;
}

.circle:hover {
  background-color: #8d6fd1;
  filter: drop-shadow(16px 16px 20px $pink);
  opacity: 0.7;
  cursor: pointer;
}

.circle_image {
  transform: translate(50%, 50%);
}

.burger-menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-menu__header-close::after,
.burger-menu__header-close::before {
  position: absolute;
  width: 21.73px;
  height: 2.17px;
  background: $white;
  border-radius: 1px;
  z-index: 10;
  content: "";
  transition: transform 0.5s;

  @media(min-height: $screen-tv) {
    display: none;
  }
}

.burger-menu__header-close::after {
  top: 50%;
  left: 25%;
  transform: rotate(45deg);
}

.burger-menu__header-close::before {
  top: 50%;
  left: 25%;
  transform: rotate(135deg);
}

.burger-menu__header-close:hover::after {
  transform: scale(1.3) rotate(225deg);
}

.burger-menu__header-close:hover::before {
  transform: scale(1.3) rotate(315deg);
}

.burger-menu__header-search::after,
.burger-menu__header-search::before {
  position: absolute;
  z-index: 10;
  content: "";
  transition: transform 0.5s;
}

.burger-menu__header-search::after {
  top: 11px;
  left: 11px;
  background-color: transparent;
  border: 2.17px solid $white;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  box-sizing: border-box;
}

.burger-menu__header-search::before {
  background-color: $white;
  width: 8px;
  height: 2.17px;
  bottom: 14px;
  right: 12px;
  border-radius: 1px;
  transform: rotate(45deg);
}

.burger-menu__header-search:hover::after {
  transform: scale(1.3);
}

.burger-menu__header-icon {
  width: 97px;
  height: 51px;
  margin-left: -70px;
}

.burger-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.burger-menu__link {
  margin: 32px 0;
}
.burger-menu__link a {
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  text-decoration: none;

}

.burger-menu__link::before {
  width: 8px;
  position: absolute;
  left: -4px;
  height: 32px;
  background: $light-green;
  border-radius: 6px;
  transform: translateY(-3px);
  content: "";
  opacity: 0;
}

.burger-menu__link:hover::before {
  opacity: 1;
}

.burger-menu__link a:hover {
  color: $font-gray;
}

.burger-menu__footer {
  position: absolute;
  top: 60%;
  @media (min-width: $screen-laptop) {
    height: 100%;
    top: 60%;
  }
}

.burger-menu__footer-contact {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.burger-menu__footer-link {
  display: block;
  width: 40px;
  height: 40px;
}

.burger-menu__footer-email {
  margin: 12px 0;
}

.burger-menu__footer-email a {
  position: relative;
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  text-decoration: none;
  transition: color 0.3s;
}
.burger-menu__footer-email a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: mediumslateblue;
  content: "";
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(10px);
}

.burger-menu__footer-email a:hover {
  color:mediumslateblue;
  opacity: 0.7;
}

.burger-menu__footer-email a:hover::after {
  color:mediumslateblue;
  opacity: 1;
  transform: translateY(0);
}

.burger-menu__footer-number {
  margin: 0 0 40px 0;
  font-family: 'TT Lakes';
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1B1C21;
}

.burger-menu__footer-language-block {
  display: flex;
  justify-content: space-between;
  width: 90px;
}

.burger-menu__footer-language-block a {
  display: flex;
  justify-content: space-between;
  font-family: 'TT Lakes Regular';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  text-decoration: none;
  color: $font-black;
  margin: 32px 0;
}

.burger-menu__footer-language-block a:hover {
  color: $font-gray;
}