@import "vars.scss";
@import "fonts.scss";

.footer {
  @media (min-width: $screen-tv) {
    margin-left: 310px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    font-family: 'TT Lakes Regular';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $font-gray;
    mix-blend-mode: normal;
    opacity: 0.72;
    padding: 32px 24px 41px;
    border-top: 1px solid $title-border-green;
    background-color: $background-gray;
    width: 100%;
    box-sizing: border-box;

    @media (min-width: $screen-laptop) {
      flex-direction: row;
    }
  }

  &__item {
    margin-bottom: 16px;
  }

  @media (min-width: $screen-laptop) {
    &__item:first-child {
      flex: 0 0 33.333%;
      width: 28%;
      text-align: start;
    }

    &__item2:nth-child(2) {
      flex: 0 0 33.333%;
      width: 28%;
      text-align: center;
    }

    &__item:last-child {
      flex: 0 0 33.333%;
      width: 28%;
      text-align: end;
    }
  }
}