@import "vars.scss";
@import "fonts.scss";

.popup-feedback {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
}

.popup-feedback__container {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  background-color: rgb(255, 255, 255);
  @media (min-width: $screen-laptop) {
    width: 440px;
  }
}

.popup-feedback__wrapper {
  margin: 24px 16px;
  // position: relative;
  @media(min-width: $screen-laptop) {
    margin: 40px 32px;
  }
}

.popup-feedback__modal-close {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 40px;

  @media(min-width: $screen-laptop) {
    position: absolute;
    top: 40px;
    left: -70px;
  }
}

.popup-feedback__modal-close::after,
.popup-feedback__modal-close::before {
  position: absolute;
  width: 21.73px;
  height: 2.17px;
  background: $white;
  border-radius: 1px;
  z-index: 10;
  content: "";
  transition: transform 0.5s;
}

.popup-feedback__modal-close::after {
  top: 50%;
  left: 25%;
  transform: rotate(45deg);
}

.popup-feedback__modal-close::before {
  top: 50%;
  left: 25%;
  transform: rotate(135deg);
}

.popup-feedback__title {
  position: relative;
  font-family: 'TT Lakes';
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1B1C21;
  margin-bottom: 24px;
}

.popup-feedback__title::before {
  position: absolute;
  width: 8px;
  clip: rect(auto, auto, auto, 4px);
  left: -21px;
  top: 0;
  height: 32px;
  background: $light-green;
  border-radius: 6px;
  content: "";
  @media(min-width: $screen-laptop) {
    left: -37px;
  }
}

.popup-feedback__input {
  background: $white;
  border: 1px solid $gray;
  border-radius: 8px;
  height: 50px;
  color: #B5B6BC;
  width: 100%;
  margin-bottom: 16px;
}

.popup-feedback__warning {
  font-family: 'TT Lakes Regular';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: $font-gray;
  margin-bottom: 28px;
}

.popup-feedback__text--red {
  color: $pink;
}

.popup-feedback__button {
  position: relative;
  margin-left: 55%;
  width: 135px;
  height: 32px;
  background: $pink;
  border-radius: 16px;
  border: 0;
  font-family: 'TT Lakes Regular';
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-align: right;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  color: $white;
  text-align: start;
  padding-left: 20px;
  @media(min-width: $screen-laptop) {
    margin-left: 65%;
  }
}

.popup-feedback__button::after,
.popup-feedback__button::before {
  position: absolute;
  width: 8px;
  height: 2px;
  z-index: 10;
  background-color: $white;
  border-radius: 2px;
  content: "";
}

.popup-feedback__button::after {
  top: 13px;
  right: 15px;
  transform: rotate(45deg);
}

.popup-feedback__button::before {
  bottom: 13px;
  right: 15px;
  transform: rotate(-45deg);
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $pink;
}

.popup-call {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
}