$white: #FFFFFF;
$background-gray: #F8F8F8;
$gray: #EAEAEA;
$font-gray: #7E7E82;
$swiper-pagination: #B5B6BC;
$font-black: #1B1C21;
$light-green: #41F6D7;
$title-border-green: #D9FFF5;
$pink: #FF3E79;

$screen-mobile: 360px;
$screen-laptop: 768px;
$screen-tv: 1440px;